    <h1>All Events</h1>

<a href='/users/{{userId}}/events/new'>Add an Event</a>
<div>
{{#each events}}

<div>Name: {{this.name}}</div>
<div>Location: {{this.location}}</div>
<div>Date: {{this.date}}</div>

{{/each}}
</body>
</html>
