<h1>Start Planning a New Event</h1>

<form action='/users/{{user._id}}/events' method='POST'>
<div>Name: <input type='text' name='name'></div>
<div>Location: <input type='text' name='location'></div>
<div>Date: <input type='text' name='date'></div>
<div>Time: <input type='text' name='time'></div>
<div>Guest Count: <input type='text' name=guestCount></div>
<div>Vendors: <input type='text' name=[]></div>
<div><input type='submit' value='Create New Event'></div>
</form>