body {
  background-color: black;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: red;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button{
  color: black;
}

a {
  color: gold;
}

quote {
  font-family: French Script;
  color: purple
}



