body {
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: red;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
