<h1>All Users</h1>

<div>
    <button>Create a Profile</button>
  {{#each users}}
  <div>Username: {{this.username}}, Professional {{this.professional}}</div>
  <button>View Profile</button>
  {{/each}}
</div> 

{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
