<h1>All Users</h1>

<div>
  {{#each users}}
  <div>Username: {{this.username}}, Professional {{this.professional}}</div>
  {{/each}}
</div> 

{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
