<h1>New User</h1>

<form action='/users' method='POST' 
 {{!-- class="pure-form">
<fieldset>
    !-- <legend>A Stacked Form</legend>
    <label for ='username'>Username</label>
    <input id='username' type ='username' placeholder = "Username">
    <span class="pure-form-message">This is a required field.</span>

<fieldset>

    <legend>Professional</legend>
    <label for="professional" class="pure-radio">
        <input id="professional" type="radio" value="">
        Yes
    </label>

    <label for="professional" class="pure-radio">
        <input id="professional" type="radio" name="optionsRadios" value="option1" checked>
        No
    </label> -- --}}
<div>Username: <input type='text' name='username'></div>
<div>Professional: <input type='text' name='professional'></div>
<div><input type='submit' value='Submit'></div>
</form>